/* Global Styles */
body {
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: black;
    color: white;
}

header h1, header h2 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 1rem;
    color: #ffffff;
}

.title-link, .title-link:visited, .title-link:hover, .title-link:active, .title-link:focus {
    color: white; /* Ensures text colour remains white */
    text-decoration: none; /* Removes underline from the link */
}

/* Blog post box styling */
.blog-post {
    background-color: #222; /* Background for the entire post */
    margin-top: 20px;
    padding: 5px;
    border-bottom: 1px solid #333; /* Adds subtle border at the bottom */
    transition: background-color 0.3s; /* Smooth transition for background colour */
}

.blog-post h3 {
    margin-top: 0; /* Removes top margin from the title */
    color: #ffffff;
}

.blog-post p, .blog-post .date {
    margin: 0; /* Adjusts margin for consistency */
}

/* Make date italic and smaller */
.date {
    font-style: italic;
    font-size: 0.75em; /* Smaller than the main body text */
}

/* Adjustments for links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Update for hover and focus without text underline, changes colour of the blog post */
a.blog-post-link:hover .blog-post, a.blog-post-link:focus .blog-post {
    background-color: #333; /* Slightly lighter to indicate hover or focus */
}

/* Responsive design adjustments */
@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
}
